<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>manasource.org</title>

    <link rel="shortcut icon" href="{{ site.basepath }}/gfx/mana-logo-16.png" type="image/png">
    <link rel="icon" href="{{ site.basepath }}/gfx/mana-logo-16.png" type="image/png">

    <link rel="stylesheet" type="text/css" href="{{ site.basepath }}/gfx/style.css">
  </head>

  <body>
    <div id="area">

      <div id="main">
        <div id="irc_hint">
          <a href="irc://irc.freenode.net/mana">#mana<br />irc.freenode.net</a>
        </div>
        <h1>
          <a href="{{ site.basepath }}/"><img src="{{ site.basepath }}/gfx/manasource-logo.png"
            height="89" alt="mana source" border="0"/>
          </a>
        </h1>
        <div id="navigation">

          <div class="section">
            <div class="header">&nbsp;</div>
            <div class="body">
              <ul>
                <li><a href="{{ site.basepath }}/">News &laquo;</a></li>
                <li><a href="{{ site.basepath }}/development.html">Development &laquo;</a></li>
                <li><a href="http://doc.manasource.org/">Documentation &laquo;</a></li>
                <li><a href="http://bugs.manasource.org/">Bug Tracker &laquo;</a></li>
                <li><a href="{{ site.basepath }}/downloads.html">Downloads &laquo;</a></li>
              </ul>
            </div>
          </div>

        </div>
        <div id="content">
