
/*
color definitions:
    orange in logo:     #ff6600;
    gray in logo:       #919191;
    background:         fbf4e2;
*/

body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: 'Verdana', sans-serif;
    background-color: #919191;
    background-image: url(bgheader.png);
    background-repeat:repeat-x;
    background-position:0px -1px;
}

#area {
    text-align:left;
    margin: 0 auto;
    min-height: 800px;
    background-image: url(manasource-logo-bg.png);
    background-position: bottom left;
    background-repeat: no-repeat;
}

#main {
    border: 1px solid black;
    width: 900px;
    padding: 20px;
    margin: 20px auto 20px auto;
    /*-moz-border-radius: 10px;*/
    border-right-width: 2px;
    border-bottom-width: 2px;
    background-color: #fbf4e2;
}


#content {
    width: 700px;
}

#navigation {
    width: 200px;
    float: right;
}

a {
    color:  #ff6600;
    text-decoration: none;
}

a:hover {
     color:  #ff3300;
}

a:visited {
    color:  #ff6600;
    text-decoration: none;
}

#irc_hint {
    float: right;
    font-size: 8pt;    
}

#irc_hint a {
    color: #a0a070;
}

#w3cfooter {
    text-align: center;
}

h1 {
    margin: 0px;
    padding: 0px;
}

h2 {
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
}

h3 {
    font-size: 14px;
    font-weight: bold;
}


#content div.section div.header
{
    text-align: left;
    color: #ff6600;
    font-weight: bold;
    padding: 5px 0px 0px 10px;
    background-image: url(content-head-bg.png);
    background-repeat: no-repeat;
    height: 23px;
    margin-top: 20px;
}

#content div.section div.body
{
    border: 1px solid gray;
    padding: 10px;
    margin: 0px 0px 0px 0px;
    font-size: 12px;
    background-color: white;
}

/* Navigation */
#navigation div.section
{
    margin: 20px 0px 0px 10px;
    /*-moz-border-radius: 10px;*/
    font-size: 14px;
}

#navigation div.section div.header
{
    text-align: right;
    color: #ff6600;
    font-weight: bold;
    padding: 5px 10px 0px 0px;
    background-image: url(nav-head-bg.png);
    background-repeat: no-repeat;
    background-position: top right;
    height: 23px;
}

#navigation div.section div.body
{
    text-align: right;
    border: 1px solid gray;
    padding: 5px 10px 5px 5px;
    background-color: white;
}

#navigation div.section div.body ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#navigation div.section div.body li
{
    padding: 3px;
}
